    <link rel="stylesheet" href="resources/css/style.css">
    <script src="resources/css/api.js"></script>
    <title>Dashboard</title>
</head>
<body>
    <ul>
        <li><a class="active" href="principal">Dashboard</a></li>
        <li><a class="active" href="usuarios">Usuarios</a></li>
        <li style="float:right"><a href="logout">Logout</a></li>
        <li style="float:right"><a href="#">Sesion iniciada</a></li>
    </ul>                                  